.navigation {
  display: flex;
  align-items: center;

  &__logo {
    color: black;
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    color: var(--first-text-color);
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;

      display: block;
      position: relative;
      transition: color var(--animation-duration) var(--cubic-bezier);

      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--first-text-color);
    }
    &.active {
      border-bottom: 1px solid var(--accent-color);
    }
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}
